@import '../../global.scss';
.Forgot {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    h2 {
        font-size: 39px;
        font-weight: 600;
        color: #4062FF;
        text-align: center;
        @include desktop {
            font-size: 50px;
        }
    }
    .Wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        @include desktop {
            gap: 20px;
        }
    }
}